<html>
   <body>
      <form action = "data" method = "POST"  enctype="multipart/form-data">
         <center>

         <input type = "file" name = "file" />
         
         <h2 style="color:blue;" > *** Calculate the Adf ***</h2>
        <div class="form-group">
          <label for="adf1">Enter the 1st row</label>
          <input type="text" class="form-control" id="adf1"  name = "adf1"  placeholder="Enter the 1st row">
        </div> </br>
        <div class="form-group">
         <label for="adf2">Enter the last row</label>
         <input type="text" class="form-control" id="adf2"  name = "adf2"  placeholder="Enter the last row">
       </div></br>
       <div class="form-group">
         <label for="adf3">Enter the group you want</label>
         <input type="text" class="form-control" id="adf3"  name = "adf3"  placeholder="Enter the group u want ">
       </div></br>
       
       <input type = "submit"/>
      </center>
      </form>
   </body>
</html>

